# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Bowling.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Mamady\RiderProjects\katas-csharp\Bowling\.idea\.idea.Bowling\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
